<section class="contacts" id="contacts">
	<div class="container flex flexstart">
		<div class="contacts__left">
			<h2>Контакты</h2>
			<ul>
				<li class="email"><a href="mailto:svit-navkolo@ukr.net">svit-navkolo@ukr.net</a></li>
				<li class="phone"><a href="tel:+380504436149">+38 (050) 443-61-49</a></li>
				<li class="phone"><a href="tel:+380687896030">+38 (068) 789-60-30</a></li>
				<li class="whatsapp"><a title="Отправить сообщение в Whatsapp" href="whatsapp://send?phone=+380504436149">Сообщение в Whatsapp</a></li>
				<li class="viber"><a title="Отправить сообщение в Viber" href="viber://chat?number=+380504436149">Сообщение в Viber</a></li>
				<li class="skype"><a href="skype:svitnavkolo?chat">svitnavkolo</a></li>
			</ul>
		</div>

		<div class="contacts__right">
			<h2>Отправить сообщение</h2>
			<div class="messages"></div>
			<form action="" method="post">
				<input type="text" id="user_name" name="name" placeholder="Ваше имя *">
				<input type="text" id="user_phone" name="phone" placeholder="Ваш телефон *">
				<input type="text" id="user_email" name="email" placeholder="Ваш e-mail *">			
				<textarea id="text_comment" name="message" placeholder="Сообщение *"></textarea>

				<input type="button" id="btn_submit" class="contacts__button" name="send" value="Отправить">
			</form>
		</div>
	</div>
</section>

<!--
<div class="footer">
    <div class="footer__site">
        <span>zur Bosch Website</span>
    </div>
    <div class="footer__bosch">© Robert Bosch Hausgeräte GmbH</div>
</div>
-->